* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('../imgs/cursor.png') 16 16, auto;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-image: url(../imgs/background-left.png);
    background-size: cover;
    background-position: center;
}

.player-side {
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
    padding: 20px 50px 0px 50px;
}

.right {
    background-image: url(../imgs/background-GIF.gif);
    width: 70vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.top-deck,
.bottom-deck {
    /* background-color: royalblue; */
    background-image: url(../imgs/table.png);
    background-size: cover;
    width: 70vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-deck img,
.bottom-deck img {
    width: 150px;
    height: 220px;
    margin-top: 2px;
}

.duel {
    /* background-color: aqua; */
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.duel-card-1,
.duel-card-2 {
    width: 250px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid whitesmoke;
    border-radius: 10px;
}


.duel img {
    width: 250px;
    height: 350px;
}

#duel-icon {
    width: 200px;
    height: 200px;
}

/* FLIP */
.flip-card {
    position: relative;
    width: 150px;
    height: 220px;
    transition: 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(0deg);
}

.flip-card .flip-card-back,
.flip-card .flip-card-front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-img {
    width: 100%;
    height: 100%;
}

/* BOTÃO */
.duel-button {
    font-size: large;
    font-weight: bolder;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
}

.duel-button:hover {
    background-color: #c00;
}

/* Barra de Vida */
.health {
    width: 100%;
    height: 30px;
    background-color: #a8a8a8e3;
    border-radius: 10px;
}

#player1-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: mediumseagreen;
    border-radius: 10px;
}
#player2-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: mediumseagreen;
    border-radius: 10px;
}
