* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('../imgs/cursor.png') 16 16, auto;
}

/* TELA DE VITÓRIA / DERROTA */
#result-screen {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: brightness(100%);
    z-index: 1;
}

#position-result-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

#restart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    position: absolute;
    left: 46.58%;
    top: 74%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#restart-button:hover {
    background-color: #c00;
}

#winner {
    position: absolute;
    left: 46.58%;
    top: 49%;
    color: rgb(224, 191, 0);
}

/* CONTAINERS DA ESQUERDA E DA DIREITA */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-image: url(../imgs/background-left.png);
    background-size: cover;
    background-position: center;
}

#left {
    filter: brightness(100%);
}

.player-side {
    width: 30vw;
    height: 50%;
    border-radius: 10px;
}

#player-name {
    width: 100%;
    height: 50%;
    padding: 0.1em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
    font-size: 1.2em;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em 1em 0em 1em;
}

.wrapper-name-life-bar {
    width: 100%;
    height: 16%;
}

.wrapper img {
    width: 6.5em;
    height: 5.25em;
}

.wrapper p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 1.4em;
}

#molding-top {
    width: 6.2em;
    height: 5.5em;
    border: 2px solid aliceblue;
    background-color: royalblue;
}

#molding-bot {
    width: 6.2em;
    height: 5.5em;
    border: 2px solid aliceblue;
    background-color: crimson;
}

.right {
    background-image: url(../imgs/background-GIF.gif);
    width: 70vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#right {
    filter: brightness(100%);
}

.top-deck,
.bottom-deck {
    background-image: url(../imgs/table.png);
    background-size: cover;
    width: 70vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-deck img,
.bottom-deck img {
    width: 10.8em;
    height: 13.8em;
    margin-top: 0.2em;
}

.duel {
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.duel-card-1,
.duel-card-2 {
    width: 15.5em;
    height: 20.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid whitesmoke;
    border-radius: 5px;
}

#duel-icon {
    width: 12em;
    height: 12em;
}

/* FLIP */
.flip-card {
    position: relative;
    width: 10.8em;
    height: 13.8em;
    transition: 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(0deg);
}

.flip-card .flip-card-back,
.flip-card .flip-card-front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-img {
    width: 100%;
    height: 100%;
}

/* Barra de Vida */
.health {
    width: 100%;
    height: 50%;
    background-color: #a8a8a8e3;
    border-radius: 10px;
}

#player1-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: royalblue;
    border-radius: 10px;
    
}

#player2-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: crimson;
    border-radius: 10px;
    padding-top: 0.2em;
}

/* CARDS PREVIEW */
.avatar-card-preview {
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.4em;
}

.card-preview {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 20em;
    height: 94%;
}

/* BOTÕES DE DUELO */
.duel-button {
    width: 9em;
    height: 3.5em;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    padding: 0.4em 0.4em;
    background-color: #f00;
    color: #fff;
    border-radius: 15px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.duel-button:hover {
    background-color: #c00;
}

/* BOTÕES DE AUDIO */
#music-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    position: absolute;
    left: 5%;
    top: 91.2%;
    font-size: 1.4em;
    background-color: crimson;
    color: aliceblue;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#music-stop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    position: absolute;
    left: 15%;
    top: 91.2%;
    font-size: 1.4em;
    background-color: crimson;
    color: aliceblue;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#music-play:hover,
#music-stop:hover {
    background-color: rgb(160, 20, 50);
}

/* Notebooks */
@media screen and (min-width: 1081px) and (max-width: 1450px) {
    .left {
        background-image: url(../imgs/background-left-notebook.png);
    }
    
    .flip-card {
        width: 7.2em;
        height: 8.8em; 
    }
    
    .top-deck,
    .bottom-deck {
        background-image: url(../imgs/table-notebook.png);
        justify-content: space-evenly;
    }

    .top-deck img,
    .bottom-deck img {
        width: 7.2em;
        height: 8.8em;
        margin-top: 0.2em;
    }

    .duel-button {
        height: 3.4em;
        font-size: 0.9em;
    }

    .duel-card-1,
    .duel-card-2 {
        width: 11em;
        height: 14em;
    }
    
    #duel-icon {
        width: 8em;
        height: 8em;
    }

    #music-play {
        width: 1.5em;
        height: 1.5em;
        left: 5%;
        top: 90%;
    }

    #music-stop {
        width: 1.5em;
        height: 1.5em;
        left: 15%;
        top: 90%;
    }

    #player-name {
        font-size: 1em;
    }
    .wrapper p {
        font-size: 1em;
    }
}

/* TABLETS */
@media screen and (min-width: 451px) and (max-width: 1080px) {
    .bottom-deck {
        display: none;
    }
}

/* CELULARES */
@media screen and (max-width: 450px) {
    .top-deck,
    .bottom-deck {
        display: flex;
    }
}