* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: url('../imgs/cursor.png') 16 16, auto;
}

/* TELA DE VITÓRIA / DERROTA */
#result-screen {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: brightness(100%);
    z-index: 1;
}

#position-result-screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

#restart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    position: absolute;
    left: 46.58%;
    top: 74%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8em;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#restart-button:hover {
    background-color: #c00;
}

#winner {
    position: absolute;
    left: 46.58%;
    top: 49%;
    color: rgb(224, 191, 0);
}

/* CONTAINERS DA ESQUERDA E DA DIREITA */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.left {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-image: url(../imgs/background-left.png);
    background-size: cover;
    background-position: center;
}

#left {
    filter: brightness(100%);
}

.player-side {
    width: 30vw;
    height: 50%;
    border-radius: 10px;
}

#player-name {
    width: 100%;
    height: 1.5em;
    padding: 5px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em 2em 0em 2em;
}

.wrapper-name-life-bar {
    width: 100%;
    height: 16%;
}

.avatar-card-preview {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper img {
    width: 100px;
    height: 85px;
}

.wrapper p {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: aliceblue;
    font-size: 1.4em;
}

#molding-top {
    width: 100px;
    height: 88px;
    border: 2px solid aliceblue;
    background-color: royalblue;
}

#molding-bot {
    width: 100px;
    height: 88px;
    border: 2px solid aliceblue;
    background-color: crimson;
}

.right {
    background-image: url(../imgs/background-GIF.gif);
    width: 70vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#right {
    filter: brightness(100%);
}

.top-deck,
.bottom-deck {
    background-image: url(../imgs/table.png);
    background-size: cover;
    width: 70vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-deck img,
.bottom-deck img {
    width: 150px;
    height: 220px;
    margin-top: 2px;
}

.duel {
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.duel-card-1,
.duel-card-2 {
    width: 250px;
    height: 356px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid whitesmoke;
    border-radius: 5px;
}

.duel img {
    width: 250px;
    height: 350px;
}

#duel-icon {
    width: 200px;
    height: 200px;
}

/* FLIP */
.flip-card {
    position: relative;
    width: 150px;
    height: 220px;
    transition: 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(0deg);
}

.flip-card .flip-card-back,
.flip-card .flip-card-front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-img {
    width: 100%;
    height: 100%;
}

/* BOTÃO */
.duel-button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.duel-button:hover {
    background-color: #c00;
}

/* Barra de Vida */
.health {
    width: 100%;
    height: 30px;
    background-color: #a8a8a8e3;
    border-radius: 10px;
}

#player1-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: royalblue;
    border-radius: 10px;
    padding-top: 4px;
}

#player2-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: crimson;
    border-radius: 10px;
    padding-top: 5px;
}

/* CARDS PREVIEW */
.card-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 350px;
}

/* BOTÕES DE AUDIO */
#music-play {
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    position: absolute;
    left: 1.5%;
    top: 91.2%;
    font-size: 1.4em;
    background-color: crimson;
    color: aliceblue;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#music-stop {
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    position: absolute;
    left: 4%;
    top: 91.2%;
    font-size: 1.4em;
    background-color: crimson;
    color: aliceblue;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#music-play:hover,
#music-stop:hover {
    background-color: rgb(160, 20, 50);
}