* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/1.jpeg);
    background-size: cover;
    background-position: center;
    animation: fadeInFadeOut 4s linear infinite;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
}

@keyframes fadeInFadeOut {
    20% {opacity: 1;}
    50% {opacity: 0.7;}
    80% {opacity: 1;}
}

.button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    position: relative;
    padding: 40px 100px;
    background-image: linear-gradient(crimson, rgb(26, 26, 26));
    color: aliceblue;
    border: none;
    clip-path: polygon(20% 10%, 79% 10%, 100% 50%, 80% 90%, 20% 90%, 0% 50%);
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

a:hover {
    background-image: linear-gradient(crimson, aliceblue);
    color: rgb(26, 26, 26);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

}

/* BOTÕES DE AUDIO */
#music-play {
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    position: absolute;
    left: 4%;
    top: 90%;
    font-size: 1.4em;
    background-image: linear-gradient(crimson, rgb(26, 26, 26));
    color: aliceblue;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#music-stop {
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
    position: absolute;
    left: 8%;
    top: 90%;
    font-size: 1.4em;
    background-image: linear-gradient(crimson, rgb(26, 26, 26));
    color: aliceblue;
    border-radius: 5px;
    cursor: url('../imgs/Cursor.png') 16 16, auto;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

#music-play:hover,
#music-stop:hover {
    background-image: linear-gradient(crimson, aliceblue);
    color: rgb(26, 26, 26);
}