* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    cursor: url('../imgs/cursor.png') 16 16, auto;
    width: 100%;
    height: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/parchment.jpg);
    background-size: cover;
}

.instructions {
    width: 40em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    top: 10%;
    padding-top: 2em;
    flex-direction: column;
    text-align: center;
    color: black;
}

.instructions h4 {
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    padding-bottom: 0.5em;
}

.instructions p {
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    font-size: 0.8em;
    text-align: justify;
    line-height: 1.2;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    color: #fff;
    background-image: linear-gradient(rgb(224, 29, 51), rgb(24, 29, 51));
    font-size: 1em;
    padding: 1em 1em;
    border: none;
    cursor: url('../imgs/cursor.png') 16 16, auto;
    clip-path: polygon(20% 20%, 80% 20%, 100% 50%, 80% 80%, 20% 80%, 0% 50%);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 80px;
}

a:hover {
    background-image: linear-gradient(crimson, aliceblue);
    color: rgb(26, 26, 26);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

/* NOTEBOOKS */
@media screen and (min-width: 1081px) and (max-width: 1450px) and (max-height: 571px) {
    html, body {
        width: 100%;
        height: 100%;
        cursor: url('../imgs/cursor-notebook.png') 16 16, auto;
    }
    
    .instructions {
        width: 27em;
        height: 18em;
        align-items: end;
        padding: 0em;
    }
    
    .instructions h4 {
        width: 100%;
        font-family: "Press Start 2P", system-ui;
        text-align: center;
        font-size: 0.7em;
    }

    .instructions p {
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 0.55em;
    }

    .button {
        width: 14em;
        height: 2em;
        font-size: 0.8em;
        background-image: linear-gradient(rgb(224, 29, 51), rgb(24, 29, 51));
        color: #fff;
        border: none;
        clip-path: polygon(20% 0%, 80% 0%, 90% 50%, 80% 100%, 20% 100%, 10% 50%);
        cursor: url('../imgs/cursor-notebook.png') 16 16, auto;
    }

    .buttons {
        width: 40%;
        height: 4em;
        position: relative;
        top: 10%;
    }
}