* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    background-image: url(/imgs/parchment.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.right {
    width: 70vw;
    height: 100vh;
    background-image: url(/imgs/decks.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.top-deck {
    /* background-color: royalblue; */
    width: 70vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top-deck img {
    width: 150px;
    height: 220px;
}

.bottom-deck {
    /* background-color: mediumseagreen; */
    width: 70vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-deck img {
    width: 150px;
    height: 220px;
}

.duel {
    /* background-color: aqua; */
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.duel img {
    width: 250px;
    height: 350px;
}

/* HOVER */

.flip-card {
    position: relative;
    width: 150px;
    height: 220px;
    transition: 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform: rotateX(0deg);
}

.flip-card .flip-card-back,
.flip-card .flip-card-front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.flip-card .flip-card-back {
    transform: rotateY(-180deg);
}

.flip-card-back,
.flip-card-front {
    position: absolute;
    backface-visibility: hidden;
}

.flip-card-img {
    width: 100%;
    height: 100%;
}

/* Botão */
.duel-button {
    font-size: large;
    font-weight: bolder;
    position: absolute;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.duel-button:hover {
    background-color: #c00;
}

#player1-duel-button {
    right: 40px;
}

#player2-duel-button {
    left: 620px;
}

/* Barra de Vida */
.player1-side {
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
}

.player2-side {
    width: 30vw;
    height: 50vh;
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
}

.health {
    width: 100%;
    height: 30px;
    background-color: #a8a8a8e3;
    border-radius: 10px;
}

#player1-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: mediumseagreen;
    border-radius: 10px;
}
#player2-health {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: mediumseagreen;
    border-radius: 10px;
}
